/* Write your CSS code here. */
.app-container {
  background-image: linear-gradient(#ffeeee, #ffc0bb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.emogies-container {
  background-color: white;
  height: 45%;
  width: 70%;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: center;
}
.emoji {
  height: 100px;
  width: 100px;
}
.each-emoji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.emogis {
  display: flex;
  justify-content: space-between;
}
.text {
  text-align: center;
}

.Thankyou-container {
  background-color: white;
  height: 45%;
  width: 70%;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.love {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
